# Python Basic

## 1. Tipe Data

### 1.1. Data Dasar

In [41]:
# Halo Python
print('Halo Python!')
print(149)
print(14.9)
print(True)

Halo Python!
149
14.9
True

In [44]:
# Cek tipe data
print(type('Halo Python!'))
print(type(149))
print(type(14.9))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### 1.2. List

In [55]:
# Membuat list
my_list = ['Halo Python', 149, 14.9, True]
my_list

['Halo Python', 149, 14.9, True]

In [45]:
# Cek tipe data
type(my_list)

list

In [46]:
# Mengakses elemen list
my_list[2]

14.9

### 1.3. Dictionary

In [57]:
# Membuat Dictionary
my_dict = {
    'Adi':90,
    'Budi':85,
    'Cindy':77,
    'Didi':80,
    'Entin':100
}

my_dict

{'Adi': 90, 'Budi': 85, 'Cindy': 77, 'Didi': 80, 'Entin': 100}

In [58]:
# Cek tipe data
type(my_dict)

dict

In [60]:
# Mengakses elemen dictionary
my_dict['Entin']

100

### 1.3. Dictionary

In [49]:
# Membuat dictionary
my_dict = {
    'Adi':90,
    'Budi':85,
    'Cindy':77,
    'Didi':80,
    'Entin':100
}

my_dict

{'Adi': 90, 'Budi': 85, 'Cindy': 77, 'Didi': 80, 'Entin': 100}

In [51]:
# Cek tipe data
type(my_dict)

dict

In [52]:
# Mengakses elemen dictionary
my_dict['Entin']

100

## 2. Percabangan, Perulangan, dan Fungsi

### 2.1. Operator

| Operator | Keterangan |
| --- | --- |
| == | Sama dengan |
| != | Tidak sama dengan |
| < | Kurang dari |
| <= | Kurang dari sama dengan |
| > | Lebih dari |
| >= | Lebih dari sama dengan |
| & | Dan |
| \| | Atau |
| ~ | Bukan |

### 2.2. Percabangan (if else)

In [62]:
# Memprogram ekspresi berdasarkan skor
skor = 90

if skor > 80:
    print('Selamat hasil anda sangat memuaskan')
elif skor > 60:
    print('Selamat skor anda telah memenuhi standar')
else:
    print('Tetap semangat')

Selamat hasil anda sangat memuaskan

### 2.3. Perulangan/Iterasi (Looping)

In [63]:
# Perulangan berbasis index
siswa = ['Andi', 'Budi', 'Cindy', 'Didi', 'Entin']

for i in siswa:
    print('{} belajar Python'.format(i))

Andi belajar Python
Budi belajar Python
Cindy belajar Python
Didi belajar Python
Entin belajar Python

In [65]:
# Perulangan berbasis kondisi
tabungan = 0

while tabungan < 100:
    tabungan = tabungan + 20
    print(tabungan)

20
40
60
80
100

### 2.4. Mendefinisikan fungsi

In [70]:
# Membuat fungsi
def pakai_diskon(harga, diskon):
    harga_setelah_diskon = harga * (1 - diskon)
    return harga_setelah_diskon

# Menggunakan fungsi
pakai_diskon(30000, 0.3)

21000.0

## 3. Fungsi

### 3.1. Fungsi Built-in

In [53]:
# Pembulatan dengan round()
round(3.14)

3

In [54]:
# Menghitung jumlah elemen list dengan len()
nama = ['Adi', 'Budi', 'Cindy', 'Didi', 'Entin']
len(nama)

5

### 3.2. Fungsi Method

In [16]:
# .capitalize pada string
kalimat = 'you can do it!!'
kalimat.capitalize()

'You can do it!!'

In [17]:
# .index pada list
nilai = [78, 90, 72, 88, 96]
nilai.index(72)

2

### 3.3. Fungsi dari Package/Library

In [23]:
# Memuat library
import numpy as np

In [21]:
# Mengubah list dengan data bertipe seragam ke numpy array
np_nilai = np.array(nilai)
type(np_nilai)

numpy.ndarray

In [22]:
# Menggunakan fungsi dari numpy (menghitung rata-rata)
np_nilai.mean()

84.8

## 4. Mengenal Data Frame

### 4.1. Membuat Data Frame

In [24]:
# Memuat Library
import pandas as pd

In [25]:
# Membuat list bertipe data seragam dan panjang sama
nama = ['Adi', 'Budi', 'Cindy', 'Didi', 'Entin']
nilai = [90, 85, 77, 80, 100]
lelaki = [True, True, False, True, False]

# Membuat dictionary untuk menampung list
nilai_dict = {
    'nama':nama,
    'nilai':nilai,
    'laki-laki':lelaki
}

# Konversi dictionary menjadi data frame dengan pandas
nilai_df = pd.DataFrame(nilai_dict)
nilai_df.head()

    nama  nilai  laki-laki
0    Adi     90       True
1   Budi     85       True
2  Cindy     77      False
3   Didi     80       True
4  Entin    100      False

### 4.2. Mengakses Elemen Data Frame

In [37]:
# Memilih kolom
nilai_df['nama']

0      Adi
1     Budi
2    Cindy
3     Didi
4    Entin
Name: nama, dtype: object

In [34]:
# Memilih baris
nilai_df.loc[1:4]

    nama  nilai  laki-laki
1   Budi     85       True
2  Cindy     77      False
3   Didi     80       True
4  Entin    100      False

In [35]:
# Memilih baris dan kolom
nilai_df.loc[1:4, ['nama', 'laki-laki']]

    nama  laki-laki
1   Budi       True
2  Cindy      False
3   Didi       True
4  Entin      False