# Kalkulator Patungan Shopee/Grab Food

In [2]:
import pandas as pd
import numpy as np

def bayar_cuk(price, disc_perc, deliv_price, max_disc, service):
    total_disc = sum(price) * disc_perc
    
    if total_disc > max_disc:
        fix_disc = max_disc
    else:
        fix_disc = total_disc
    
    disc_prop = []
    prop = []
    for i in price:
        disc_prop.append(round(i/sum(price)*fix_disc, 2))
        prop.append(round(i/sum(price)*100, 2))
    
    price_after_disc = np.array(price) - np.array(disc_prop)
    deliv_fee = deliv_price/len(price)
    service_fee = service/len(price)
    pay_split = price_after_disc + deliv_fee + service_fee
    
    tabel_hash = {
        'harga': price,
        'proporsi': prop,
        'diskon': disc_prop,
        'harga_setelah_diskon': price_after_disc,
        'ongkir': deliv_fee,
        'biaya_layanan': service_fee,
        'bayar': pay_split
    }
    
    tabel = pd.DataFrame(tabel_hash)
    
    return tabel

In [3]:
patungan = bayar_cuk(
    price       = [17500, 18500],
    disc_perc   = 0.6,
    deliv_price = 0,
    max_disc    = 25000,
    service     = 3000
)

patungan

,harga,proporsi,diskon,harga_setelah_diskon,ongkir,biaya_layanan,bayar
0,17500,48.61,10500.0,7000.0,0.0,1500.0,8500.0
1,18500,51.39,11100.0,7400.0,0.0,1500.0,8900.0

In [17]:
patungan.sum()

harga                   36000.0
proporsi                  100.0
diskon                  21600.0
harga_setelah_diskon    14400.0
ongkir                      0.0
biaya_layanan            3000.0
bayar                   17400.0
dtype: float64