# Kalkulator Patungan Shopee/Grab Food

In [4]:
import pandas as pd
import numpy as np

def bayar_cuk(price, disc_perc, deliv_price, max_disc, service):
    total_disc = sum(price) * disc_perc
    
    if total_disc > max_disc:
        fix_disc = max_disc
    else:
        fix_disc = total_disc
    
    disc_prop = np.array([])
    prop = []
    for i in price:
        disc_prop.append(round(i/sum(price)*fix_disc, 2))
        prop.append(round(i/sum(price)*100, 2))
    
    price_after_disc = np.array(price) - disc_prop
    deliv_fee = deliv_price/len(price)
    service_fee = service/len(price)
    pay_split = price_after_disc + deliv_fee + service_fee
    
    tabel_hash = {
        'harga': price,
        'proporsi': prop,
        'diskon': disc_prop,
        'harga_setelah_diskon': price_after_disc,
        'ongkir': deliv_fee,
        'biaya_layanan': service_fee,
        'bayar': pay_split
    }
    
    tabel = pd.DataFrame(tabel_hash)
    
    return tabel

In [7]:
patungan = bayar_cuk(
    price       = [17000, 18000, 22000, 17000, 21000],
    disc_perc   = 0.5,
    deliv_price = 0,
    max_disc    = 40000,
    service     = 3000
)

patungan

,harga,proporsi,diskon,harga_setelah_diskon,ongkir,biaya_layanan,bayar
0,17000,17.89,7157.89,9842.11,0.0,600.0,10442.11
1,18000,18.95,7578.95,10421.05,0.0,600.0,11021.05
2,22000,23.16,9263.16,12736.84,0.0,600.0,13336.84
3,17000,17.89,7157.89,9842.11,0.0,600.0,10442.11
4,21000,22.11,8842.11,12157.89,0.0,600.0,12757.89

In [3]:
round(17.47363747, 2)

17.47